{% extends 'base/main.html' %}

{% block content %}
    <h2>Are you sure you want to delete {{ obj }}</h2>
    <form method="post" action="">
        {% csrf_token %}
        <a href="{{request.META.HTTP_REFERER}}">Go back</a>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}
