<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'base/topPanel.html' %}
    <title>Epic shit</title>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>